<ion-header>
  <ion-toolbar>
    <ion-title>info</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="imgshadow">
    <img [src]="[wikiContent.imgUrl]" style="width: 100%; height: 300px" />
  </div>
  <div>
    <h1
      style="
        font-weight: bold;
        margin: 5px 5px 5px 5px;
        background-color: #d83f87;
        color: white;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
      "
    >
      {{wikiContent.title}}
    </h1>
  </div>

  <p style="margin: 10px 12px 12px 12px">{{wikiContent.content}}</p>
</ion-content>
